{% extends "djangoapp/layout.html" %}

{% block content %}
    <table class="table"
           id="table"
           data-toggle="table"
           data-filter-control="true" <!-- Enables the filter control -->
           data-filter-show-clear="true" <!-- Adds a clear button to clear filters -->
           data-search="true"> <!-- Enables the search input -->
        <thead>
            <tr>
                <th data-field="id" data-sortable="true" data-visible="false">ID</th>
                <th data-field="dealer_name" data-sortable="true">Dealer Name</th>
                <th data-field="city" data-sortable="true">City</th>
                <th data-field="address" data-sortable="true">Address</th>
                <th data-field="zip" data-sortable="true">Zip</th>
                <th data-field="state" data-filter-control="select" data-sortable="true">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealerships %}
                <tr>
                    <td>{{ dealer.id }}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a></td>
                    <td>{{ dealer.city }}</td>
                    <td>{{ dealer.address }}</td>
                    <td>{{ dealer.zip }}</td>
                    <td>{{ dealer.state }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script>
    $(function() {
        $('#table').bootstrapTable({
            // Initialize the bootstrap table with filter control
        });
    });
</script>
{% endblock %}
